body,h1,h2,h3,h4,h5,p,ul,ol,dl,dt,dd,form,input,textarea,th,td,select { margin:0;padding:0;}
em { font-style:normal}
a { text-decoration:none;}
li { list-style:none;}
img { border:none; vertical-align:top;}
table{ border-collapse:collapse;}
textarea{ resize:none;overflow:auto;}
*{font-family:'微软雅黑';}
#nav {
	margin:0 auto;
	width:1349px;
	height:128px;
	background:url(../images/nav_bg.png);
	position:relative;
}
.nav {
	margin-left:187px;
}
.pro {
	position:absolute;
	top:10px;
	left:190px;
	z-index:5;
}
.dream {
	position:absolute;
	top:10px;
	z-index:5;
	left:950px;
}
.nav li {
	width:130px;
	height:30px;
	float:left;
	text-align:center;
	line-height:28px;
	margin:98px 3px 0 1px;
	background:white;
	cursor:pointer;
	font-size:16px;
}
#nav .nav .current_tab {
	background:#4C4C4C;
	color:white;
}
#wrap {
	margin:0 auto;
	padding:10px;
	width:990px;
	height:auto;
	overflow:auto;
	margin-bottom:40px;
	padding-bottom:0;
}
.route {
	margin-left:7px;
	margin-bottom:30px;
}
.route li {
	float:left;
	margin:2px;
	font-size:13px;
}
.route a {
	color:#7A7A7A;
}
.route a:hover {
	color:#333333;
}
#top {
	width:auto;
	padding:20px;
	border:1px solid #E0E0E0;
	margin-left:10px;
	padding-bottom:10px;
}
#box_search {
	width:745px;
	height:40px;
	float:left;
	background:#F5F5F5;
	margin-left:20px;
	border:1px solid #cccccc;
}
.search_mag {
	background:url(../images/magnifier.png); 
	width:40px;
	height:38px;
	outline: medium none;
	border:none;
	cursor:pointer;
}
.search_key {
	width:690px;
	height:40px;
	color:#959595;
	font-size:14px;
	background:#F5F5F5;
	border:none;
	padding-left:10px;
}
#hoverMenu {
	width:130px;
	height:42px;
	background:#31B06C url(../images/down_arrow.png) no-repeat 90% 50%;
	float:right;
	color:#fff;
	font-size:16px;
	line-height:48px;
	text-align:center;
	padding-right:20px;
	cursor:pointer;
	position:relative;
}
#menu_ul {
	background:#31B06C;
	width:300px;
	position:absolute;
	top:42px;
	right:0;
	height:250px;
	z-index:5;
	display:none;
	float:right;
}
#menu_ul li {
	width:280px;
	height:75px;
	border-bottom:1px dashed #B3B3B3;
	margin:10px 0 0 10px;
}
#menu_ul li ul li {
	border:none;
	margin:5px 10px 5px 10px;
	margin-right:0;
}
#menu_ul .menu_left {
	float:left;
	width:50px;
	height:50px;
	border:1px dotted #fff;
	border-radius:25px;
}
#menu_ul .menu_right {
	float:right;
	width:200px;
	height:50px;
	text-align:left;
	font-size:14px;
	margin-left:10px;
}
.font_16px {
	font-size:16px;
	line-height:22px;
}
#last {
	border-bottom:none;
}
#away {
	width:90px;
	height:20px;
	font-size:14px;
	color:#7A7A7A;
	background:url(../images/up_arrow.png) no-repeat 10% 50%;
	float:right;
	margin-top:20px;
	text-align:right;
	cursor:pointer;
}
#conditions {
	font-size:14px;
	color:#959595;
	clear:both;
	overflow:auto;
}
#conditions li {
	margin-bottom:20px;
}
.con_left {
	float:left;
	text-align:right;
	margin-right:10px;
	font-size:14px;
	color:#7A7A7A;
}
.con_right {
	float:left;
}
#conditions a {
	color:#7A7A7A;
	font-size:14px;
}
#conditions a:hover {
	color:#333333;
}
#cont {
	border:1px solid #E0E0E0;
	margin-left:10px;
	border-top:none;
	margin-top:15px;
}
.cont_title {
	border:1px solid #E0E0E0;
	overflow:auto;
	width:977px;
	height:40px;
	border-bottom:none;
}
.cont_title li {
	float:left;
	width:45px;
	height:40px;
	border-right:1px solid #E0E0E0;
	color:#7A7A7A;
	padding-right:18px;
	background:url(../images/arrow_price.png) no-repeat right 40%;
	font-size:14px;
	line-height:38px;
	text-align:center;
	cursor:pointer;
	padding-left:10px;
}
#cont #current_tab {
	color:#333333;
	background:none;
	padding:0;
}
#cont_main {
	width:auto;
	border-top:1px solid #E0E0E0;
	overflow:auto;
	clear:both;
	padding:10px 0 40px;
}
.facilitators {
	width:224px;
	height:250px;
	float:left;
	margin:9px;
	margin-top:20px;
	border:1px solid #E0E0E0;
	position:relative;
}
.case_pic {
	width:225px;
	height:118px;
}
#cont_main .case_pic img {
	margin:0 auto;
}
.case_name {
	margin:15px;
	margin-bottom:3px;
}
.case_name a {
	font-size:16px;
	color:#7A7A7A;
}
.case_name a:hover {
	color:#333333;
}
.case_price {
	color:#FF7100;
	font-size:14px;
	margin:15px;
	margin-top:0;
	margin-bottom:20px;
	letter-spacing:1px;
}
.fac_name,.category{
	float:left;
	color:#959595;
	font-size:14px;
	margin-left:15px;
}
.category {
	float:right;
	margin-right:15px;
}
.diamond_img img {
	position:absolute;
	bottom:10px;
	left:15px;
}
.strong {
	font-weight:bold;
}