.content_title{
	width: 150px;
	height: 24px;
	font-size: 18px;
	font-weight: bold;
	color: #189963;
	float: left;
	margin: 18px 0 18px 25px;
}
.basis{
	width: 262px;
	height: 250px;
	float: left;
	margin:78px 42px 150px 72px;
 	/*border: 1px solid red;*/ 
}
.basis p{
	text-align: center;
	font-size: 14px;
	color: #969696;
}
/*大半圆*/
.graph{
	width: 256px;
	height: 132px;
	margin-bottom: 90px;
	border: 3px solid #828b87;
	border-bottom: 0;
	border-radius: 128px 128px 0 0;
	position: relative;
}
/*小圆外部框*/
.graph_text{
	width: 60px;
	height: 60px;
	padding: 4px;
	background: #fff;
	/*border: 1px solid red;*/
	position: absolute;
}
.div1{
	top:92px;
	left: -36px;
}
.div2{
	top:-15px;
	left: 29px;
}
.div3{
	top:-15px;
	left: 158px;
}
.div4{
	top:92px;
	left: 224px;
}
/*小圆*/
.graph_text a{
	position: absolute;
	width: 32px;
	height: 32px;
	display: block;
	padding: 14px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 50%;
}
.a1{
	background: #f39800;
}
.a2{
	background: #2cc384;
}
.a3{
	background: #31bfd0;
}
.a4{
	background: #2d91d7;
}
.captain{
	width: 66px;
	height: 74px;
	text-align:center;
	position: absolute;
	top:80px;
	left: 96px;
	font-size: 14px;
	color: #4c4c4c;
}
.captain img,.captain span{
	display: block;
}
.div11{
	top:92px;
	left: -36px;
}
.div12{
	top:-30px;
	left: 98px;
}
.div13{
	top:92px;
	left: 226px;
}
.a11{
	background: #f39800;
}
.a12{
	background: #2cafc3;
}
/*六个字做特殊处理*/
.graph_text .a13{
	background: #2d91d7;
	width: 42px;
	padding: 14px 9px;
}
