body,h1,h2,h3,h4,h5,p,ul,ol,dl,dt,dd,form,input,textarea,th,td,select { margin:0;padding:0;}
em { font-style:normal}
a { text-decoration:none;}
li { list-style:none;}
img { border:none; vertical-align:top;}
table{ border-collapse:collapse;}
textarea{ resize:none;overflow:auto;}
body {
	font-size:12px;
	font-family:"黑体","微软雅黑";
	
}


#header {
	margin:0 auto;
	width:100%;
	height:128px;
	background:url(../images/header_bg1.png);
}
		
.header_up {
	margin:0 auto;
	width:1000px;
	height:73px;
}
.header_down {
	margin:0 auto;
	width:1000px;
	height:54px;
	position:relative;
}
.logo,.menu {
	float:left;
}
.search,.login {
	float:right;
}

.search {
	padding-top:42px;
	position:relative;
}

.search_input{
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
        border: 1px solid #959595;
	width:100px;
	height:16px;
	color:#FFF;
	background:#959595;
	position:absolute;
	top:44px;
	right:59px;
}
.contact_us{
	display:inline-block;
	height:24px;
	line-height:24px;
}
.search_bg{
	position:absolute;
	top:44px;
	right:57px;
}
.search_bg img{
	width:19px;
	height:17px;
}
.search a,.login a {
	color:#3d3d3d;

 }
.search a:hover,.login a:hover{
	color:#268bd9;
}

.menu li {
	float:left;
	margin-left:45px;
	padding-top:14px; 
	text-align:center;
}
.menu li a {
	font-size:18px;
	color:#3d3d3d;  
}

.menu li:hover a {
	color:#268bd9;
}

.login {
	padding-top:32px;	
}
.login img {
	width:12px;
	height:12px;
}
.loginAfter{
	position:absolute;
	right:-4px;
	top:55px;
	display:none;
	z-index:100;
}
.loginAfter li {
	text-align:center;
	width:84px;
	height:35px;
	line-height:35px;
	border-left:1px solid #028e98;
	border-right:1px solid #028e98;
	border-bottom:1px solid #b2e9ec;
	background:url(../images/loginAfterListBg.png); 
}
.loginAfter li a{
	color:#3d3d3d; 
}
.loginAfter li a:hover{
	color:#268bd9;
}
#footer {
	margin:0 auto;
	width:100%;
	height:90px;
	border-top:1px solid #c0c0c0; 
	background:#e2e2e2;	
}
#footer ul {
	margin:0 auto;
	width:1000px;
}
#footer ul li {
	float:left;
	width:82px;
	line-height:90px;
	text-align:left;
}
#footer ul li a {
	color:#969696; 

}
#footer ul li a:hover{
	color:#268bd9;
};